<h1>Log Your Training</h1>
<form action="/logs" method="post">
  <label>Date</label>
  <input type="text" name="date" id="date" placeholder="YYYY/MM/DD"><br>

  <label>Activities: </label>
  <p>Choose at least 1 of the activities to save the log: </p><br>
  <p>Log SWIM in METERS and <br> BIKE and RUN in KILOMETERS.</p>

  <% ["Swim", "Bike", "Run"].each do |act| %>
    
    <label><%= act %></label><input type="text" name="<%= act.downcase %>_distance" placeholder= "Enter Distance">
  <% end %>
  <br>

  <input type="submit" value="submit">
</form>