<div class="container">
  <header><title>TriTraining</title></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Triathlon Training Log</h2>

    <div class="content">
      <p>Welcome to the TriTraining Log.</p>
      <p>This is the place to log your swimming, biking and running efforts.</p> 
      <br>
      <p>Please <a href="/signup">Sign Up</a> or <a href="/login">Log In</a> to continue.</p>
    </div>

  </div>
</div>
